#welcome
  .box
    %h2 Welcome to PGE
    %p Welcome.  The Pittsburgh Garden Experiment is a forum for city farmers in Pittsburgh.  There are many ways to use this site:
    %ul.bullets
      %li
        <b>Learn</b> about urban food production and what's working here in Pittsburgh.
      %li
        <b>Contribute</b> to our collective food growing knowledge and tag your posts.
      %li
        <b>Share</b> your pictures, favorite websites, news clips, resources, and more!
      %li
        <b>Connect</b> to people in your area by searching for skills and locations.
      %li
        <b>Promote</b> your urban farming projects, classes, and events.
    %p Check for our urban agriculture events @ our <a href="http://www.meetup.com/pittsburghgardenexperiment">Meetup.com</a> site.
    %p
      All of our projects are member supported.  Thanks everyone!
      %br PGE is a project of <a href="http://steelcitysoils.com/">Steel City Soils, LLC</a>
