%h2 Welcome to PGE
%p Welcome!  The Pittsburgh Garden Experiment is a forum for city farmers in Pittsburgh.
%h3 Beta test
%p Join us in beta testing our new forum software at <a href="http://forum.pittsburghgardenexperiment.org/">forum.pittsburghgardenexperiment.org</a>.
%p For now, you will need to create a new user account on that site.
%ul.bullets
  %li
    <b>Learn</b> about urban food production and what's working here in Pittsburgh.
  %li
    <b>Share</b> with us and <b>contribute</b> to our collective food growing knowledge.
  %li
    <b>Connect</b> to people in your area.
  %li
    <b>Promote</b> your urban farming projects, classes, and events.
%h3 Events 
%p Check for our urban agriculture events at our <a href="http://www.meetup.com/pittsburghgardenexperiment">meetup.com</a> site.
%h3 Thanks
%p All of our projects are member supported.  Thanks everyone!
