/* CSS by Nathan Swartz in the Colorado Autumn */

/* Part of framework */
/* body, h1, h2, h3, h4, h5, h6, form, input, fieldset, p, blockquote, ul, ol, li {margin:0; padding:0;} */
body {font: 12px/150% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif; color:#605f5f; text-align:center; background:#fff url(img/bg.png) repeat-x top center; }

.avatar_mask {position:absolute; z-index:10; top:27px; left:744px; }

#activity {margin-bottom:18px;}

#commentbox {background:url(img/chat_speak.jpg) no-repeat 142px 75px;}
#commentboxwrap {background:#f0f0ee; -moz-border-radius:10px; -webkit-border-radius:10px; padding:7px; width:352px; margin-top:11px;}

.comment_text {background:url(img/speak_comment.gif) no-repeat 1px 13px; padding-left:20px;}
.comment_verbage {background:#f0f0ee; -moz-border-radius:10px; -webkit-border-radius:10px; padding:7px;}


/* Typography */

#user-menu-tip a {font-size:125%;}

#content h2 {color:#bdbdbd; font-size:225%; font-weight:normal; background:url(img/h2_leaf.png) no-repeat bottom left; padding:0 0 16px 24px; margin-bottom:10px;}
#left_profile h2, #commentbox p {font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,sans-serif !important; font-size:140% !important; background:none; padding:20px 0 0 0 !important; color:#605f5f;}
#commentbox p {padding-left:10px !important;}


#activity ul {list-style:none; margin-left:24px;}

.date_stamp {color:#9c9c9c; display:block; width:75px; float:left;}

#friends p {float:right;}

#tags p {margin-left:25px;}

#commentbox ul {list-style:none; float:right; margin-top:-35px; padding-right:15px;}
#commentbox li {padding-left:20px;}

.comment_tools {text-align:right;}
.rss_icon {background:url(img/rss_icon.jpg) no-repeat; padding-left:22px;}