- @section = (params[:neighborhood_id] ? 'neighborhood' : 'users')

.yui-b
  = render :partial => 'users/search_options'

#yui-main
  .yui-b
    -box :class => "user_list alt" do
      %h3=:site_members.l :site => AppConfig.community_name

      -if @users.page_count > 1
        .pagination= paginating_links @users, :params => params

      = render :partial => "users/user", :collection => @users
      
      %br.clear
      -if @users.page_count > 1
        .pagination= paginating_links @users, :params => params